@model Lennujaam_MVC.Models.Lend

@{
    ViewData["Title"] = "Lisa Lend";
}

<h1>Lisa uus lend</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LisaLend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LennuNR" class="control-label"></label>
                <input asp-for="LennuNR" class="form-control" />
                <span asp-validation-for="LennuNR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KohtadeArv" class="control-label"></label>
                <input asp-for="KohtadeArv" class="form-control" />
                <span asp-validation-for="KohtadeArv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otspunkt" class="control-label"></label>
                <input asp-for="Otspunkt" class="form-control" />
                <span asp-validation-for="Otspunkt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sihtpunkt" class="control-label"></label>
                <input asp-for="Sihtpunkt" class="form-control" />
                <span asp-validation-for="Sihtpunkt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValjumisAeg" class="control-label"></label>
                <input asp-for="ValjumisAeg" class="form-control" />
                <span asp-validation-for="ValjumisAeg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lisa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Lennud">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
