@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4">Tere tulemast lennunduse haldussüsteemi!</h1>
            <p class="lead">Halda oma lendusid hõlpsalt.</p>
            <a asp-action="Index" asp-controller="Lennud" class="btn btn-primary btn-lg">Alusta</a>
        </div>
    </div>
</div>
