@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy - Fun and Laughter Guaranteed!
    <br/>
    At our hilarious website, we take privacy seriously... but not too seriously! Here's our light-hearted Privacy Policy that will hopefully bring a smile to your face:
    <br/>
    Collection of Funny Data:
    We may collect some funny data from you, like your laughter intensity, favorite jokes, and comedic preferences. Rest assured, your personal information will be kept safe and secure in our virtual comedy vault.
    <br/>
    Cookies and Laughter Crumbs:
    We use cookies to enhance your laughter experience on our site. These cookies are not edible, but they help us remember your comedic preferences and ensure you have a good time.
    <br/>
    Sharing Laughs with Third Parties:
    Occasionally, we may share a good laugh with our trusted partners. However, we will never share your personal information or disclose your secret comic identity without your consent.
</p>
